profiles {
    conda { 
        conda.enabled = true
        conda.useMamba = true
        process.conda = "$baseDir/environment.yml" 
    }
}

process {
    //executor = 'local'
    //cpus = 4
    //memory = 16.GB
    //time = 24.h

    withLabel:process_low {
        cpus = 4
        memory = 16.GB
        time = 4.h
    }
    withLabel:process_medium {
        cpus = 16
        memory = 64.GB
        time = 12.h
    }
    withLabel:process_high {
        cpus = 64
        memory = 256.GB
        time = 36.h
    }


    withName: 'KPOPCOUNT' {
        ext.args = { "${params.extra_kpopCount}" }
        ext.args2 = { "${params.extra_kpopCountDB}" }
    }
    withName: 'KPOPCOUNT_BY_CLASS' {
        ext.args = { "${params.extra_kpopCount}" }
        ext.args2 = { "${params.extra_kpopCountDB}" }
    }
    withName: 'KPOPCOUNT_READS' {
        ext.args = { "${params.extra_kpopCount}" }
        ext.args2 = { "${params.extra_kpopCountDB}" }
    }
    withName: 'KPOPCOUNT_READS_BY_CLASS' {
        ext.args = { "${params.extra_kpopCount}" }
        ext.args2 = { "${params.extra_kpopCountDB}" }
    }
    withName: 'KPOPTWIST' {
        ext.args = { "${params.extra_kpopTwist}" }
    }
    withName: 'GENERATE_TEST_TWISTED' {
        ext.args = { "${params.extra_kpopTwistDB}" }
    }
    withName: 'PREDICT_TEST_SET' {
        ext.args = { "${params.pred_class_num}" }
        ext.args2 = { "${params.extra_kpopTwistDB}" }
    }
    withName: 'ASSEMBLE_FASTQS' {
        ext.args = { "${params.extra_flash}" }
        ext.args2 = { "${params.extra_megahit}" }
    }
    withName: 'MATCH_REFERENCE_CONTIGS' {
        ext.args = { "${params.extra_lastz}" }
        ext.args2 = { "${params.extra_seqtk}" }
    }
    withName: 'GENERATE_KPOPTWISTED' {
        ext.args = { "${params.extra_kpopCountDB}" }
        ext.args2 = { "${params.extra_kpopTwistDB}" }
    }
    withName: 'KPOPTWIST_UPDATE' {
        ext.args = { "${params.extra_kpopTwistDB}" }
    }
    withName: 'UPDATE_PLOT' {
        ext.args = { "${params.extra_kpopPhylo}" }
    }
    withName: 'FASTQ_QC' {
        ext.args = { "${params.extra_trim_galore}" }
    }
    withName: 'CLUSTERING' {
        ext.kpopScale_power = { "${params.kpopScale_power}" }
    }
    withName: 'DOWNLOAD_SRAS' {
        ext.args = { "${params.extra_prefetch}" }
    }
    withName: 'FASTERQ_DUMP' {
        ext.args = { "${params.extra_fasterq_dump}" }
    }
}

// Global default params, used in configs
params {

    // Input options
    help = false
    cluster = false
    classify = false
    update = false
    input_dir = ''
    kmer_len = 12
    output_dir = "$projectDir/results"
    output_prefix = "output"
    cpu_num = 8
    meta_data = ''
    test_dir = ''
    match_reference = ''
    accession_list = ''
    test_accession_list = ''
    min_contig_match_len = 250
    min_contig_match_proportion = 0.6
    twisted_file = ''
    twister_file = ''
    tree_type = 'rectangular'
    tree_label_size = 3
    max_dim = 0
    no_assembly = false 
    no_qc = false 
    validate_inputs = false

    // flash options
    flash_minOverlap = 20
    flash_maxOverlap = 1000
    extra_flash = ''

    // lastz options
    lastz_step = 20
    extra_lastz = ''

    // seqtk subset options
    extra_seqtk = ''

    // megahit options
    extra_megahit = ''

    // KPopCount extra options
    extra_kpopCount = ''

    // KPopCountDB extra options
    extra_kpopCountDB = ''

    // KPopTwist extra options
    extra_kpopTwist = ''

    // KPopTwistDB extra options
    pred_class_num = 'all'
    extra_kpopTwistDB = ''

    // KPopPhylo extra options
    kpopPhylo_power = 2
    kpopPhylo_distance = 'euclidean'
    kpopPhylo_magic = '1.'

    // KPopScale options
    kpopScale_power = ''

    // Trim-galore extra options
    extra_trim_galore = ''

    // Sra-tools extra options
    extra_prefetch = ''
    extra_fasterq_dump = ''
}

manifest {
    name = "kpop-run"
    author = "Ryan Morrison"
    version = "1.0.0"
}