conda.enabled = true
conda.useMamba = true

process {
    //executor = 'local'
    //cpus = 4
    //memory = 16.GB
    //time = 24.h

    withLabel:process_low {
        cpus = 4
        memory = 16.GB
        time = 4.h
    }
    withLabel:process_medium {
        cpus = 16
        memory = 64.GB
        time = 12.h
    }
    withLabel:process_high {
        cpus = 64
        memory = 256.GB
        time = 36.h
    }


    withName: 'KPOPCOUNT' {
        ext.args = { "${params.extra_kpopCount}" }
        ext.args2 = { "${params.extra_kpopCountDB}" }
        //publishDir "${params.output_dir}/assembly_statistics", mode: copy, pattern: "*"
        //errorStrategy = 'ignore'
        //errorStrategy = 'retry'
        //maxRetries    = 3
    }
    withName: 'KPOPCOUNT_BY_CLASS' {
        ext.args = { "${params.extra_kpopCount}" }
        ext.args2 = { "${params.extra_kpopCountDB}" }
    }
    withName: 'KPOPTWIST' {
        ext.args = { "${params.extra_kpopTwist}" }
    }
    withName: 'GENERATE_TEST_TWISTED' {
        ext.args = { "${params.extra_kpopTwistDB}" }
    }
    withName: 'PREDICT_TEST_SET' {
        ext.args = { "${params.pred_class_num}" }
        ext.args2 = { "${params.extra_kpopTwistDB}" }
    }
    withName: 'KPOPPHYLO' {
        ext.args = { "${params.extra_kpopPhylo}" }
    }
    withName: 'ASSEMBLE_FASTQS' {
        ext.args = { "${params.extra_flash}" }
        ext.args2 = { "${params.extra_megahit}" }
    }
    withName: 'MATCH_REFERENCE_CONTIGS' {
        ext.args = { "${params.extra_lastz}" }
        ext.args2 = { "${params.extra_seqtk}" }
    }
}

// Global default params, used in configs
params {

    // Input options
    help = false
    cluster = false
    classify = false
    input_dir = ""
    kmer_len = 12
    output_dir = "$projectDir/results"
    output_prefix = "output"
    cpu_num = 8
    meta_data = ""
    test_dir = ""
    match_reference = ""
    accession_list = ""
    test_accession_list = ""
    min_contig_match_len = 250
    min_contig_match_proportion = 0.6
    // ignore error in processes!!!!!

    // flash options
    flash_minOverlap = 20
    flash_maxOverlap = 1000
    extra_flash = ''

    // lastz options
    lastz_step = 20
    extra_lastz = ''

    // seqtk subset options
    extra_seqtk = ''

    // megahit options
    extra_megahit = ''

    // KPopCount extra options
    extra_kpopCount = ''

    // KPopCountDB extra options
    extra_kpopCountDB = ''

    // KPopTwist extra options
    extra_kpopTwist = ''

    // KPopTwistDB extra options
    pred_class_num = 'all'
    extra_kpopTwistDB = ''

    // KPopPhylo extra options
    extra_kpopPhylo = ''
}

manifest {
    name = "kpop-run"
    author = "Ryan Morrison"
    version = "1.0.0"
}