/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    KPop Workflow: Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    resourceLimits = [
        cpus:   64,
        memory: 256.GB,
        time:   64.h
    ]

    process.executor = 'local'

    // Defaults for all processes
    cpus            = { 1               * task.attempt  }
    memory          = { 4.GB            * task.attempt  }
    time            = { 4.h             * task.attempt  }

    errorStrategy   = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries      = 2
    maxErrors       = '-1'

    withLabel:process_single {
        cpus        = { 1               * task.attempt  }                
        memory      = { 2.GB            * task.attempt  }
        time        = { 4.h             * task.attempt  }
    }
    withLabel:process_low {
        cpus        = { 2               * task.attempt  }
        memory      = { 4.GB            * task.attempt  }
        time        = { 8.h             * task.attempt  }
    }
    withLabel:process_medium {
        cpus        = { 4               * task.attempt  }
        memory      = { 8.GB            * task.attempt  }
        time        = { 16.h            * task.attempt  }
    }
    withLabel:process_high {
        cpus        = "${params.max_cpus}"
        memory      = "${params.max_memory}.GB"
        time        = "${params.max_hours}.h"
        maxRetries  = 1
    }

}