/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    KPop Workflow: Nextflow config file for defining default parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // Input options
    cluster = false
    classify = false
    update = false

    // Global options
    help = false
    
    input_dir = ''
    test_dir = ''
    output_dir = "$projectDir/results"
    output_prefix = "output"
    meta_data = ''
    
    kmer_len = 12
    
    max_cpus = Runtime.runtime.availableProcessors() - 1
    max_memory = ((Runtime.getRuntime().maxMemory() - (Runtime.getRuntime().totalMemory() - Runtime.getRuntime().freeMemory())) / (1024 * 1024 * 1024)).toInteger()
    max_hours = 32

    // Speedy options
    no_assembly = false 
    no_qc = false 
    validate_inputs = false
    max_dim = 0

    // KPop file input options
    kpopcount_input = ''
    kpopcount_test_input = ''
    twisted_file = ''
    twister_file = ''

    // Download samples options
    accession_list = ''
    test_accession_list = ''

    // Reference matching options
    match_reference = ''
    min_contig_match_len = 250
    min_contig_match_proportion = 0.6

    // Plot options
    tree_type = 'rectangular'
    tree_label_size = 3

    // flash options
    flash_minOverlap = 20
    flash_maxOverlap = 1000
    extra_flash = ''

    // lastz options
    lastz_step = 20
    extra_lastz = ''

    // seqtk subset options
    extra_seqtk = ''

    // megahit options
    extra_megahit = ''

    // KPopCount extra options
    extra_kpopCount = ''

    // KPopCountDB extra options
    extra_kpopCountDB = ''

    // KPopTwist extra options
    extra_kpopTwist = ''

    // KPopTwistDB extra options
    pred_class_num = 'all'
    extra_kpopTwistDB = ''

    // KPopPhylo extra options
    kpopPhylo_power = 2
    kpopPhylo_distance = 'euclidean'
    kpopPhylo_magic = '1.'

    // KPopScale options
    kpopScale_power = ''

    // Trim-galore extra options
    extra_trim_galore = ''

    // Sra-tools extra options
    extra_prefetch = ''
    extra_fasterq_dump = ''
}
