/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    KPop Workflow: Nextflow profiles config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {
    conda { 
        conda.enabled       = true
        process.conda       = "$baseDir/environment.yml" 
    }
    mamba { 
        conda.enabled       = true
        conda.useMamba      = true
        process.conda       = "$baseDir/environment.yml" 
    }
}
